<div class="background">
  <div class="box">
    <div class="inner-box">
      <p class="title">대한민국 교육계 친일인사 87명</p>
      <p class="content">뉴스타파는 친일반민족행위진상규명위원회가 발표한 친일반민족행위자 1006명과 민족문제연구소가 발간한 친일인명사전에 등재된 친일인사 4천 3백여 명을 대상으로 이들이 해방 후 대한민국의 교육 분야에 어떤 행적을 남겼는지 조사했다.<br>중·고등·대학교 등 학교를 설립했거나 대학교 이상에서 법인이사, 이사장, 총장을 지닌 이력을 확인했다.<br>뉴스타파가 작성한 87명의 명단을 모두 공개한다. 각 인물 사진을 클릭하면 인물 세부정보를 볼 수 있다.</p>

      <div class="man-box">
        <% @mans.each do |man| %>
          <div class="man">
            <img src=<%= man.img %> alt='man_picture' class="avatar img-click" id="man">
            <p class="bold-text"><%= man.name %></p>
            <p class="small-text"><%= man.category %></p>
          </div>
          <div class="modal">
            <div class="modal-content">
              <img src="http://pages.newstapa.org/n1905/static/img/close.png" alt="X" class="close">
              <div class="man-info-top">
                <img src=<%= man.img %> alt='man_picture' class="avatar-big" id="man">
                <h4><%= man.name %></h4>
                <p><%= man.category %></p>
                <p class="mb-2"><%= man.year %></p>
                <% if man.refer_url.nil? %>
                <% else %>
                  <a href="<%= man.refer_url %>" class="info-url">친일반민족규명위 결정보고서 보기</a>
                <% end %>
              </div>
              <div class="man-info-one mt-3">
                <h4>친일 행적</h4>
                <% if man.past.nil? %>
                <% else %>
                  <% if man.past.include?(':') %>
                    <% man_array = man.past.split(':') %>
                    <% for e in 0...man_array.count %>
                      <p><%= man.past.split(':')[e] %></p>
                    <% end %>
                  <% else %>
                    <p><%= man.past %></p>
                  <% end %>
                <% end %>
              </div>

                <% if man.school_career.nil? %>
                <% else %>
              <div class="man-info-one">
                  <h4>해방 후 사학 경력</h4>
                  <% if man.school_career.include?(':') %>
                    <% man_array = man.school_career.split(':') %>
                    <% for e in 0...man_array.count %>
                      <p><%= man.school_career.split(':')[e] %></p>
                    <% end %>
                  <% else %>
                    <p><%= man.school_career %></p>
                  <% end %>
              </div>
                <% end %>


                <% if man.main_career.nil? %>
                <% else %>
                <div class="man-info-one">
                  <h4>해방 후 주요 경력</h4>
                  <% if man.main_career.include?(':') %>
                    <% man_array = man.main_career.split(':') %>
                    <% for e in 0...man_array.count %>
                      <p><%= man.main_career.split(':')[e] %></p>
                    <% end %>
                  <% else %>
                    <p><%= man.main_career %></p>
                  <% end %>
              </div>
                <% end %>


              <% if man.award.nil? %>
              <% else %>
                <div class="man-info-one">
                <h4>훈장 수여 내역</h4>
                <% if man.award.include?(':') %>
                  <% man_array = man.award.split(':') %>
                  <% for e in 0...man_array.count %>
                    <p><%= man.award.split(':')[e] %></p>
                  <% end %>
                <% else %>
                  <p><%= man.award %></p>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
